.header {
    padding: 12px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
}

.pageWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rocketImg {
    width: 240px;
}

.rocketBluredLeft {
    width: 98.6px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.rocketBluredRight {
    width: 98.6px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

.shopButtonContainer {
    position: absolute;
    bottom: 0;
}


.rocketBluredLeft,
.rocketBluredRight {
  cursor: pointer;
}

.rocketImg {
  /* Стили для нормальной ракеты */
  cursor: pointer;
}

/* Стили для Alert */



/* Стили для бейджа результата запуска */
.resultBadge {
    position: absolute;
    top: 20%;   /* можно подстроить под дизайн */
    right: 0; 
    display: flex;
    align-items: center;
    gap: 4px;
    background: rgba(0, 0, 0, 0.7);
    padding: 4px 8px;
    border-radius: 4px;
    z-index: 50;
  }
  
  .resultIcon {
    width: 20px;
    height: 20px;
  }
  
  .resultText {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }

  .Container {
    width: 100vw;
    height: 88vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.scrollArea {
    flex: 1;
    width: 100%;/* Добавьте отступ от хедера */
}

.cardContainer {
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 12px;
}



.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  height: 12vh;
  
}

.navButtons {
  position: relative; /* Для абсолютного позиционирования индикатора */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  gap: 12px;
  padding: 4px 12px;
  border-radius: 30px;
  background-color: #141414;
  height: fit-content;
}

/* Индикатор активного таба */
.activeIndicator {
  position: absolute;
  width: 78px;
  height: 100%;
  background-color: #2C2C2C;
  border-radius: 30px;
  transition: left 0.3s ease;
  z-index: 0;
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 4px;
}

.navLabel {
  font-size: 12px;
  color: #8E8E93;
  transition: color 0.2s ease;
  z-index: 100;
}

.activeLabel {
  color: #FFFFFF;
}