.pageTitle {
    margin-top: 15%;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 112px;
    height: 112px;
    border-radius: 36px;
}


.drawerContent {
    padding: 12px;
    height: 90vh;
    will-change: transform;
}

.topUsersList {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.topUserCard {
    /* background-color: hsl(0 1% 10%); */
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.topUserCardHeader {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.topUserCardTitle {
    font-size: 16px;
    font-weight: 600;
}

.topUserCardContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 0px;
}


.taskCardHeader {
    display: flex;
    flex-direction: column;
    padding: 0px;
    max-width: 60%;
    gap: 6px;
}

.taskCardTitle {
    font-size: 16px;
    font-weight: 600;
}

.taskCardReward {
    display: flex;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.taskCardContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 0px;
}

.completeTaskBtn {
    border-radius: 10px;
    padding: 6px;
    background-color: hsl(0 1% 10%);
    color: white;
    /* background-color: black; */
}

.taskTabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.walletInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.walletImage {
    width: 24px;
    height: 24px;
    border-radius: 6px;
}

.walletName {
    font-size: 16px;
    font-weight: 600;
}

.prizesList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    gap: 10px;
}

.prizeCard {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 1px solid hsl(0 0% 14.9%);
    background-color: hsl(0 0% 0%);
    gap: 6px;
    padding: 12px;
}

.prizeImageContainer {
    position: relative;
    width: 100%;
    height: 150px;
    border-radius: 36px;
    /* margin-top: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.prizeCardFooter {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

.emptyMessage {
    display: flex;
    flex-direction: column;
    height: 60vh;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    text-align: center;
}

.emptyMessage img {
    width: 112px;
    height: 112px;
}


