.pageTitle {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.balanceContainer {
    /* background-color: #2C2C2C; */
    padding: 4px 12px;
    border-radius: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 16px;
  }

  .balanceImg {
    width: 24px;
    height: 24px;
  }


  .balanceBadge {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 36px;
}

.partnersLink {
    color: white;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 600;
}

.drawerContent {
    padding: 12px;
    height: 90vh;
    will-change: transform;
    background: black;
}

.totalRewardsPool {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-bottom: 12px;
    border: 1px solid hsl(0 0% 14.9%);
    border-radius: 12px;
    padding: 12px;
    background: hsla(210, 91%, 39%, 1);
    position: relative;
    overflow: hidden;

background: linear-gradient(135deg, hsla(210, 91%, 39%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

background: -moz-linear-gradient(135deg, hsla(210, 91%, 39%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

background: -webkit-linear-gradient(135deg, hsla(210, 91%, 39%, 0.65) 0%, hsla(0, 0%, 0%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0965C0", endColorstr="#000000", GradientType=1 );

}

.topUsersList {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.topUserCard {
    /* background-color: hsl(0 1% 10%); */
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.topUserCardHeader {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.topUserCardTitle {
    font-size: 16px;
    font-weight: 600;
}

.topUserCardContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 0px;
}


.taskCardHeader {
    display: flex;
    flex-direction: column;
    padding: 0px;
    max-width: 60%;
    gap: 6px;
}

.taskCardTitle {
    font-size: 16px;
    font-weight: 600;
}

.taskCardReward {
    display: flex;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.taskCardContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 0px;
}

.completeTaskBtn {
    border-radius: 10px;
    padding: 6px;
    background-color: hsl(0 1% 10%);
    color: white;
    /* background-color: black; */
}

.taskTabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.walletInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.walletImage {
    width: 24px;
    height: 24px;
    border-radius: 6px;
}

.walletName {
    font-size: 16px;
    font-weight: 600;
}

.prizesList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}

.prizeCard {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 1px solid hsl(0 0% 14.9%);
    background-color: hsl(0 0% 0%);
    gap: 6px;
    padding: 12px;
}

.prizeImageContainer {
    position: relative;
    width: 100%;
    height: 150px;
    border-radius: 36px;
    /* margin-top: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.prizeCardFooter {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

.emptyMessage {
    display: flex;
    flex-direction: column;
    height: 60vh;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    text-align: center;
}

.emptyMessage img {
    width: 112px;
    height: 112px;
}

.cardContainer {
    width: 100%;
    /* background-color:  hsl(0 0% 3.9%); */
    border-radius: 12px;
    border: 1px solid hsl(0 0% 14.9%);
}

.card {
    width: 100%;
    background-color: black !important;
    border: none;
    /* border-color: hsl(20deg 0.67% 27.27%) !important; */
}

.cardHeader {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 12px;
}

.cardTitle {
    display: flex;
    gap: 6px;
}